.app-container{
  display: flex;
  flex-direction: column;
  padding-inline:90px ;
  gap: 80px;
  margin-bottom: 80px;
}

html{
  scroll-behavior: smooth;
}

@media(max-width: 500px){
  .app-container{
    display: flex;
    flex-direction: column;
    padding-inline: 24px;
    gap:40px
  }
}